@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center">
      
        <div class="container">
            <p>
                Scan user's data to enter it to the database or <a href="#manual-data-enter" id="manual-enter-link">enter it manually</a>.
            </p>
        </div>
        
        <div class="microblink-ui-component-wrapper">
            <microblink-ui-web tabs autoscroll>
            </microblink-ui-web>
        </div>

        <div id="manual-data-enter">
            marko
        </div>

        <!-- Bootstrap modal for displaying results. -->
        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>
</body>
